{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/style-admin.css') }}" />
{% endblock %} {% block title %}Edit UE{% endblock %} {% block body %}
<h1>Edit UE</h1>

{{ include("ue/_form.html.twig", { button_label: "Update" }) }}

{{ include("ue/_delete_form.html.twig") }}
{% endblock %}
