main{
    margin: 3em 10vw;
}

#navbar-ue{
    margin-top: 2em;
    display: flex;
    border-bottom: 1px solid lightgray;
}

#navbar-ue a{
    text-decoration: none;
    color: black;
}

#navbar-ue li{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: min-content;
    padding: 1em 2em;
}

#navbar-ue li:hover{
    background-color: lightgray;
}

#btn-add-post{
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    background-color: #a6a6a6;
    border: none;
    margin-top: 2vh;
    padding: 5px 20px;
    border-radius: 30px;
}

#btn-add-post:hover{
    cursor: pointer;
    background-color: grey;
    color: white;
}

.post{
    list-style-type: none;
    margin: 4vh 0;
}

.post-title-text{
    display: flex;
    align-items: center;
}

.post-title{
    display: flex;
    justify-content: space-between;
}

.post-title h3{
    display: inline;
}

.post-time{
    background-color: #a6a6a6;
    height: min-content;
    padding: 5px 20px;
    border-radius: 30px;
}

.btn-edit-post:hover{
    color: grey;
    cursor: pointer;
}