{% extends 'base.html.twig' %}
{% block body %}

<div class="main-container">
  <div class="searchbar">
    <div class="searchinputcont">
      <input class="searchiinput" type="text" placeholder="Rechercher">
    </div>
    <div class="sortUE">
      <span class="sortoption">Trier par nom de cours</span>
    </div>
  </div>

  <nav aria-label="Course navigation">
    <div class="UE header">
    </div>   

    <a href="#" class="boxUE">
      <div class="codeUE">
        <h4>Gestion de votre scolarité </h4>
        <p class="desc">DPP - Direction aux Formations et à la Pédagogie</p>
      </div>
    </a>

    <a href="#" class="boxUE">
      <div class="codeUE">
        <h4>ID01 Innovation Crunch Time</h4>
        <p class="desc">Crunch Time</p>
        <div class="progressbar">
          <div class="progress"></div>
        </div>
      </div>
    </a>

    <a href="#" class="boxUE">
      <div class="codeUE">
        <h4>L501 Espagnol niveau I</h4>
        <p class="w3-small">LS : Langue : espagnol</p>
      </div>
    </a>

    <a href="#" class="boxUE">
      <div class="codeUE">
        <h4>PH03 Théories du cinéma</h4>
      </div>
    </a>
    <a href="#" class="boxUE">
      <div class="codeUE">
        <h4>RS40 Réseaux et Cybersécurité niveau 1 </h4>
      </div>
    </a>
  </nav>

</div>
{% endblock %}

