{% extends 'base.html.twig' %}

{% block title %}Root Page{% endblock %}

{% block body %}
  <main>
    <div class="main-container">
      <h2>My Courses</h2>
      <div class="courses">
      </div>
    </div>
  </main>
{% endblock %}