<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moodle</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <img class="logo" src="Images/utbm.png" alt="Logo" />

      <ul class="sidebar">
        <li>
          <a href="#"
            ><span class="material-icons-sharp">dashboard</span>Dashboard</a
          >
        </li>
        <li>
          <a href="#"
            ><span class="material-icons-sharp">school</span>My Courses</a
          >
        </li>
        <li>
          <a href="#"
            ><span class="material-icons-sharp">settings</span>Settings</a
          >
        </li>
        <li>
          <a href="#"><span class="material-icons-sharp">login</span>Log In</a>
        </li>
        <li>
          <a href="#"
            ><span class="material-icons-sharp">logout</span>Log Out</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="#"
            ><span class="material-icons-sharp">dashboard</span>Dashboard</a
          >
        </li>
        <li>
          <a href="#"
            ><span class="material-icons-sharp">school</span>My Courses</a
          >
        </li>
        <li>
          <a href="#"
            ><span class="material-icons-sharp">settings</span>Settings</a
          >
        </li>
        <li>
          <a href="#"><span class="material-icons-sharp">login</span>Log In</a>
        </li>
        <li>
          <a href="#"
            ><span class="material-icons-sharp">logout</span>Log Out</a
          >
        </li>
      </ul>
    </nav>
    <main>
      <div class="main-container">
        <h2>My Courses</h2>
        <div class="courses"></div>
      </div>
    </main>
  </body>
</html>
