{% extends 'base.html.twig' %}

{% block title %}Profile Page{% endblock %}

{% block body %}
  <main>
    <div class="main-container">
      <h2>Ini adalah page profile</h2>
    </div>
  </main>
{% endblock %}