{# Le modale (pop-up) pour suppression de posts #}
<div class="modal" id="deleteModal">
    <div class="modal-content">
        <p>Voulez-vous vraiment supprimer ce post?</p>
        <div class="modal-buttons">
            <button class="confirm-btn" onclick="confirmDelete()">Oui</button>
            <button class="cancel-btn" onclick="closeModal()">Annuler</button>
        </div>
    </div>
</div>