{# Le modale (pop-up) pour édition de posts #}
<div class="modal" id="edit-post-modal">
    <div id="post-modal-content">
      <h2 id="titre-new-post"><b>Editer Post</b></h2>
      <form name="post" method="POST" id="div-form" enctype="multipart/form-data">
        <div class="post-tabs">
            <!-- Un seul bouton pour basculer entre les options -->
            <button type="button" id="tab-msgtxt" class="tablinks active" onclick="toggleFormView('msgtxt')">Message Texte</button>
            <button type="button" id="tab-partagefic" class="tablinks active" onclick="toggleFormView('partagefic')">Partage Fichier</button>
        </div>

        <div class="form-container">
            <div class="form-group">
                <label for="post_titrePost" class="required">Titre</label>
                <input type="text" id="post_titrePost" name="post[titrePost]" required="required" maxlength="255">
            </div>

            <input type="hidden" id="post_typePost" name="post[typePost]" value="message">

            <input
                type="hidden"
                id="post_datetimePost"
                name="post[datetimePost]"
                required="required"
                value="{{ 'now'|date('Y-m-d\\TH:i:s') }}"
            >

            <div class="form-group" id="post_typeMessage">
                <label for="post_typeMessageSelect" class="required">Type</label>
                <select id="post_typeMessageSelect" name="post[typeMessage]">
                    <option value="" selected disabled>-- Choisir un type --</option>
                    <option value="important">Important</option>
                    <option value="information">Information</option>
                    <option value="optionnel">Optionnel</option>
                </select>
            </div>

            <div class="form-group">
                <label for="post_descriptionPost" class="required">Texte</label>
                <textarea oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
                id="post_descriptionPost" name="post[descriptionPost]" required="required" maxlength="2000"></textarea>
            </div>

            <div class="form-group" id="post_depotPost" style="display: none;">
                <label for="post_depotPostInput">Fichier (formats acceptés : .zip, .pdf)(Max:2,0 Mo)</label>
                <input type="file" id="post_depotPostInput" name="post[depotPostBlob]" accept=".zip,.pdf">
                <p id="post_depotPostName"></p>
            </div>

            <div id="form-epingle">
                <label for="post_epingle">Épinglé ?</label>
                <input type="checkbox" id="post_epingleur" name="post[epingleur]" value="{{ user_id }}" class="checkbox-input">
            </div>

            <input type="hidden" id="post_codeUE" name="post[codeUE]" value="{{ ue.getCodeUE() }}">
            <input type="hidden" id="post__token" name="post[_token]" data-controller="csrf-protection" value="csrf-token">

            <div class="form-actions">
                <button class="btn" type="submit">Editer</button>
            </div>
        </div>
      </form>
    </div>
</div>