{% extends 'base.html.twig' %} {% block title %}Editer User{% endblock %} {%
block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/style-admin.css') }}" />
{% endblock %} {% block body %}
<main>
  <div class="main-container">
    <h2 class="title">Modifier Utilisateur</h2>

    {{ include("user/_form.html.twig", { button_label: "Mettre à jour" }) }}
  </div>
</main>

{% endblock %}
